.App {
  text-align: center;
}

/* Navigation */

.title-nav{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #e9e9e9;
}

.title-nav a{
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.title-nav a:hover {
  background-color: #dddddd;
  color: #000000;
}

.website-title{
  flex: 50%;
  justify-content: flex-start;
  padding-left: 10%;
}

.website-title h1 {
  cursor: pointer;
  max-width: 300px;
}

.nav {
  flex: 50%;
  align-self: center;
  justify-content: flex-end;
}

/* Search Field and Radio */

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-bottom: 1px solid #000000;
  width: 255px;
}

/* .radio-option {
  justify-content: space-around;
} */

.radio-option input[type=radio] {
  justify-content: space-around;
  padding: 0 5px 0 5px;
}

input[type=password] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-bottom: 1px solid #000000;
  width: 255px;
}

/* Card component */

.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}

.card {
  max-width: 200px;
  max-height: 380px;
  border-radius: 4px;
  background-color: #6d6c6d8f;
  cursor: pointer;
  transition: all 0.2s;
  color: white;
  place-self: center;
}

.card:hover {
  opacity: 0.8;
}

.card img {
  width: 100%;
  height: 200px;
}

.card h3 {
  padding: 1em
}

.book-display {
  max-width: 200px;
  max-height: 380px;
  border-radius: 4px;
  background-color: #6d6c6d;
  transition: all 0.2s;
  color: white;
  place-self: center;
}

.book-display img {
  width: 100%;
  height: 200px;
}

.remove-button{
  justify-self: center;
}

/* Main body of site */

.container {
  display: grid;
  flex-direction: column;
}

/* Individual Book display */

.info{
  display: flex;
  justify-content: center;
}

.info-picture img{
  max-height: 400px;
}

.info-text {
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  max-width: 400px;
}

.info-text h4 {
  text-align: center;
}

.genre-author {
  display: flex;
  justify-content: space-between;
}


.info-add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

/* Button Styling */

button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
}

button:hover {
  background-color: #f7fafa;
}

button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.button-remove {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  line-height: 33.4929px;
  padding: 2px 12px;
  text-align: left;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
}

.button-red:active:hover,
.button-red:focus:hover,
.button-red:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}